<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function logIn() {
            var u = document.getElementById("username").value;
            var p = document.getElementById("password").value;
            var ajax = new XMLHttpRequest();
            //ajax.open('GET', 'https://agriculturepipeline.herokuapp.com/main/login' + u + '/' + p,false, "root", "password");
            try {
                ajax.open('GET', 'https://agriculturepipeline.herokuapp.com/main/isServerRunning', false);
                ajax.send();
                alert(ajax.responseText);
            }
            catch (err) {
                window.location = "http://127.0.0.1:5000/login";
            }
        }

    </script>
</head>
<body>
<div class="row">
    <div class="col-sm" style="background-color: #7158ef;">
        <button onclick="createAccount()" style="margin: 10px; float: right; border-radius: 20px; background-color: #04e00b;">Create Account</button>
    </div>
</div>
<div id="header" class="row" align="middle" style="height: 100px">
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" align="middle" style="background-color: #7158ef; padding: 30px; border-radius: 15px; float : middle">
        <h1> Log In </h1>
        <input id="username" ng-model="username" placeholder="Username" style="margin-top: 20px; border-radius: 5px">  </input>
        <br>
        <input id="password" ng-model="username" placeholder="Password" style="margin-top: 20px; border-radius: 5px">  </input>
        <br>
        <button onclick="logIn()" style="margin-top: 15px; border-radius: 20px; background-color: #04e00b;">Log In</button>
    </div>
</div>
</div>
</body>
</html>